body
{
background-color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:14pt;
line-height:145%;
color:#000;
margin:0px;
padding:0px;
width:100%;
height:auto;
}

#content
{
padding:0px;
color:#FFF;
margin:10px 25px;
}

#menu
{
text-align:center;
}

#menu select, #menu input[type=submit]
{
background-color:#f3f3f3;
color:#000;
border:1px solid #999;
display:inline-block;
font-size:12pt;
font-weight:bold;
padding-top:6px;
padding-bottom:6px;
text-align:center;
border-radius:8px;
}

#menu input[type=submit]
{
width:18%;
}

#links ul
{
list-style:none;
margin:10px;
padding:0;
text-align:center;
}

#links ul li a
{
background-color:#f3f3f3;
color:#000;
border:1px solid #999;
display:inline-block;
font-weight:bold;
margin-bottom:-1px;
padding-top:6px;
padding-bottom:6px;
width:95%;
text-align:center;
}

#links ul li:first-child a
{
border-top-left-radius:8px;
border-top-right-radius:8px;
}

#links ul li:last-child a
{
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}

#pageTitle
{
display:block;
text-align:center;
}

a, img
{
border:none;
}

.pageHead
{
display:block;
color:#fff;
font-size:20pt;
font-weight:bold;
margin-left:-10px;
}

.hangingHead
{
font-size:17pt;
font-weight:bold;
margin-left:-5px;
color:#fff;
}

.hangingSubhead
{
font-size:15pt;
margin-left:-5px;
font-weight:bold;
color:#fff;
}

.center 
{
text-align:center;
}

.imgRight
{
float:right;
margin:15px;
clear:both;
width:40%;
max-width:300px;
}

.imgLeft
{
float:left;
margin:15px;
clear:both;
width:40%;
max-width:300px;
}

a
{
text-decoration:none;
color:#d1391e;
cursor:pointer;
}

#logo
{
width:220px;
height:91px;
}

#team-photo
{
text-align:center;
width:100%;
display:block;
}

#team-photo img
{
width:80%;
max-width:300px;
}

#robot-photo
{
width:80%;
max-width:300px;
}

.indent
{
margin-left:30px;
}

.indent2
{
margin-left:60px;
}

#sponsors
{
text-align:center;
width:100%;
display:block;
}

#sponsors a img
{
width:80%;
max-width:300px;
}

.normal
{
font-weight:normal;
}

.b
{
font-weight:bold;
}

.i
{
font-style:italic;
}

#events div
{
border:2px solid #d1391e;
margin-bottom:10px;
padding:5px;
word-wrap:break-word;
}

#events div:last-child
{
margin-bottom:0;
}

#events div .hangingHead, #events div .hangingSubhead
{
margin-left:0;
}